.wrapsTitles {
    padding: 8px;
    text-align: center;
}

.h1 {
    margin: 0;
    padding: 24px;
    font-size: 48px;
    font-weight: bolder;
    letter-spacing: .1em;
    color: #fefafa;
    text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px rgba(0, 0, 0, .5);
}

.h2 {
    margin: 0;
}

.h3 {
    margin: 0;
}

.h4 {
    margin: 0;
}

.h5 {
    margin: 0;
}