.main {
    background: #fff;
    padding-top: 24px;
}

.flexBox {
    padding-top: 24px;
    display: flex;
    justify-content: center;
}

.wrapsDetails {
    width: 800px;
    display: flex;
    justify-content: space-between;
}

@media (max-width:1250px) {
    .wrapsDetails {
        max-width: 800px;
        display: flex;
        flex-wrap: wrap;
    }

    .details {
        flex: 60%;
        margin-bottom: 24px;
    }
}