.container {
    max-width: 100%;
}

.oneImg {
    height: 500px;
    background-image: url("../../shared/assets/images/desert.jpg");
    background-size: cover;
    background-position: center;
}

.twoImg {
    height: 500px;
    background-image: url("../../shared/assets/images/sea.jpg");
    background-size: cover;
    background-position: center;
}

.threeImg {
    height: 500px;
    background-image: url("../../shared/assets/images/sky.jpg");
    background-size: cover;
    background-position: center;
}