.homeContainer {
    width: 100%;
}

.contactButton {
    position: fixed;
    top: 85px;
    right: 0;
    z-index: 100;
}

.oneSection {
    min-height: 200px;
    background: #fff;
}

.secondSection {
    min-height: 350px;
    background: #fff;
}

.flexBox {
    padding: 8px;
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.box {
    flex: 1;
    min-height: 200px;
    color: #fff;
    text-align: center;
}

.pink {
    background: rgb(172, 67, 102);
}

.turquoise {
    background: rgb(28, 147, 135);
}

.yellow {
    background: rgb(193, 175, 16);
}

.purple {
    background: #9c27b0;
}

.thirdSection {
    background: #fff;
    min-height: 350px;
}

.imgFlexBox {
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    justify-content: space-around;
    gap: 48px;
    padding-bottom: 16px;
    padding: 8px;
}

.imgBox {
    flex: 1;
    min-height: 200px;
    color: black;
    text-align: center;
}

.img {
    border-radius: 50%;
}

.commonQuestions {
    background: rgb(151, 214, 208);
    min-height: 350px;
}

.questions {
    margin: 0 auto;
    max-width: 800px;
    padding: 24px;
    padding-top: 0;
}

.gallery {
    background: #fff;
    padding: 48px 0;
}

.contact {
    background: rgb(151, 214, 208);
}

@media (max-width: 1250px) {
    .flexBox {
        flex-wrap: wrap;
    }

    .box {
        flex: 40%;
    }

    .imgFlexBox {
        flex-wrap: wrap;
    }

    .card {
        flex: 40%;
    }
}

@media (max-width: 625px) {
    .box {
        flex: 80%;
    }

    .card {
        flex: 80%;
    }
}