.media {
    padding: 24px 0;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template: repeat(6, 100px) / repeat(10, 100px);
    gap: 20px;
}

.box {
    box-shadow: 5px 5px 15px 5px #000000;
}

.box:hover {
    cursor: pointer;
}

.boxClicked {
    min-height: 500px;
    min-width: 500px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border: dotted black 2px;
    cursor: pointer;
}

.box0 {
    grid-row: 1 / 3;
    grid-column: 1 / 3;
    background-image: url("https://lh3.googleusercontent.com/pw/AIL4fc8KDsLrUFO7iHhUXElYnZ_utc9e5ZpxE8t6vwmVMx_wa8q0_Agzxv5wH8W1woB5nOCTrcdvCNetqkIczYdi3Rwa6m4pKNC3_1fJVcBjNmRlRZLxEA3WTixcs6QE1Dt8MwVNW1rZKN2lyx_gE_graX57GQ=w1232-h923-s-no?authuser=0");
    background-size: cover;
    background-position: center center;
}

.box1 {
    grid-row: 1 / 2;
    grid-column: 3 / 5;
    background-image: url("https://lh3.googleusercontent.com/pw/AIL4fc_6hQ5kFuzLfPauvExC_djT3xhjZ_QyxBOeoj7jvZAYVsDhIFdSse2qp-23kQa3fWrJSJk_g0aO_H29A1dB_TS9UabFs-l28XKPWXpMDGCOjsSz5qhcK_TzcMQZQTmPb0dhw1P-pt4iEuCQQkdRfBOiWw=w690-h923-s-no?authuser=0");
    background-size: cover;
    background-position: center center;
}

.box2 {
    grid-row: 3 / 5;
    grid-column: 1 / 4;
    background-image: url("https://lh3.googleusercontent.com/pw/ADCreHeCLTodYWeeJ7WFSLfqtQv_kgXqnAWlZX9seXBOlTDSSj2nOeLaPvXB6cmB7EjIyOBBHXDjaQshVfg4zPdIA97gvUpJJ7kRXJOgOokYGAqIcnnkJZNeAEd8hh3xUgD2nxMlhpUb8hdTrv8TiMt1_2UFCQ=w1179-h884-s-no-gm?authuser=0");
    background-size: cover;
    background-position: top center;
}

.box3 {
    grid-row: 2 / 3;
    grid-column: 3 / 5;
    background-image: url("https://lh3.googleusercontent.com/pw/AIL4fc-5NLywKxjDsbwIqFZ9koHKj7M6OzduBfTIUPQp83eF22nzn_5l6foz3rYkOMGMw2lIVa7G86DzGP75osKS7riWVZm7iDjWtgCNoNX7QzTBkHIV-DTlnH0E2ytubAzjuU8p7q3nBIcEc2MNVgwxhm91Bg=w690-h923-s-no?authuser=0");
    background-size: cover;
    background-position: center center;
}

.box4 {
    grid-row: 3 / 5;
    grid-column: 4 / 5;
    background-image: url("https://lh3.googleusercontent.com/pw/AIL4fc-JjwH-lw2p_sF2HlztyzufvkMnKqgOELgS2n7u9dXqeK_vPEX1o3RqIYiTq4IKaoJwV8yxtRpX0EYqwJ_E1Z-ND6j2kRvfc8lomk8BnVgojP2-xGhNo0b2Dc49GqYmrhLmtyrJCl9YTyV80oIQYMtQgQ=w521-h923-s-no?authuser=0");
    background-size: cover;
    background-position: center right;
}

.box5 {
    grid-row: 1 / 3;
    grid-column: 5 / 7;
    background-image: url("https://lh3.googleusercontent.com/pw/AIL4fc9aKW72PVra4v7TCgat7U9drYneGksWfHs9Ua6PCBlpDfg4JAgK7tCmdVorDKeGC5imnOGQIGlX55dWtdVYHqgUhmTLw_4rZLx4S2KBeBvoynadXRIYjYTQLoCLgGlC2V0UUB1zGfjnSikgM0OjHKg09w=w591-h523-s-no?authuser=0");
    background-size: cover;
    background-position: center center;
}

.box6 {
    grid-row: 3 / 5;
    grid-column: 5 / 7;
    background-image: url("https://lh3.googleusercontent.com/pw/AIL4fc9uSmiHvgqHITnYmLoy3tCnOBavU3IufMqLWMZma-90obz6PdRgNHMo8jG96MV_ugQCSWh9uX9YWB4tABCRcFsII3bHkkzz88ei_oXt69edwaKNwLJQoEEeY28IRlHe-Ho8EcNbfN7u2fPlm2MXgCiHxA=w692-h923-s-no?authuser=0");
    background-size: cover;
    background-position: top center;
}

.box7 {
    grid-row: 3 / 5;
    grid-column: 7 / 8;
    background-image: url("https://lh3.googleusercontent.com/pw/ADCreHfiorTsBIxjLN5Y-X7QJV8vhQwtpir-6LaMcc7WyAfr4UcnXzNygI0b-4oeDtGbREzBxPItoyPKUk-Uo1KUwfkRoz_wbQCESOGiUg6OIZELOFTil7oMBqDWX2shWE8G6v_aLx8erv37Cg7SrgDtcXKWlQ=w498-h884-s-no-gm?authuser=0");
    background-size: cover;
    background-position: center center;
}

.box8 {
    grid-row: 1 / 3;
    grid-column: 9 / 11;
    background-image: url("https://lh3.googleusercontent.com/pw/AIL4fc_01uvS9N_2ueMoGYJPsk7wIo60y7fgflECrt5eyDo6nfP7gZlsuZm71e1OYAX7HwbpN8_dB9HvCyqmHZYEi4bg0uOQ76Ma2U83UgzB98Loqu7uQBdRo2RF1L3-pMoBbix8guiOoHpIxJQgeSaGUha2Pw=w690-h923-s-no?authuser=0");
    background-size: cover;
    background-position: center left;
}

.box9 {
    grid-row: 1 / 2;
    grid-column: 7 / 9;
    background-image: url("https://lh3.googleusercontent.com/pw/AIL4fc-Gf95kuQkYL6Yx85faxJ8yucy_LltPeKADolq0XfTFC5r86SH5ab9-hISCfTSbsUaGiKoUhO7ylOR5xCoz2FVA2hGb-lwa5fHfJovpY5fEMGtVgoEwq-Y-IH24mvx51psOP_K3xMcO3W5iakYdulOCcQ=w1245-h923-s-no?authuser=0");
    background-size: cover;
    background-position: center left;
}

.box10 {
    grid-row: 2 / 3;
    grid-column: 7 / 9;
    background-image: url("https://lh3.googleusercontent.com/pw/AIL4fc8grvs4NliLn2dX0pUE_M_dGzmOdSOvxmlk0DJuQ5WVGnqBYbkVzjJ4bbHy-w6swJa5HV5RYaz-Bo6Ik4D8-Jn2gs14Q7koLg3BrFWHWH-95_ttbsmz9O0vdaoC3kLLKEJU4hp5kI6RTC11eR09i73ksw=w692-h923-s-no?authuser=0");
    background-size: cover;
    background-position: top center;
}

.box11 {
    grid-row: 3 / 5;
    grid-column: 8 / 11;
    background-image: url("https://lh3.googleusercontent.com/pw/AIL4fc9LMqtzEEBQIoxK5tmo88KoGloc_3VwP1N3uWxmWKckBIlP90ZC9suTlMhOmFsINL10K5lpdm71_4hwXfGKkafx-8AyCxA-QSrxyCemeyLvG8Pn0jUqN9poJfBhtChXcAJYNEtTdXnG6UlTIhVSZ894UQ=w1245-h923-s-no?authuser=0");
    background-size: cover;
    background-position: center center;
}

.box12 {
    grid-row: 5 / 7;
    grid-column: 1 / 2;
    background-image: url("https://lh3.googleusercontent.com/pw/AIL4fc_klimwxIa-0VHct0AcA9U8eUK24c6MYfOtUws_IKZDMq8jL2U-VW-m8QJ8Lt2zPCJjFxEg7F3AyDbqMs09rLOTQ624Z29R9eqFbvF-NlbDVz3sVe3o8YbmmzD5DlPqbYiiLpqDGmDuBYlTiEnaqCHE1g=w690-h923-s-no?authuser=0");
    background-size: cover;
    background-position: center center;
}

.box13 {
    grid-row: 5 / 7;
    grid-column: 2 / 3;
    background-image: url("https://lh3.googleusercontent.com/pw/ADCreHfrWP6XZ2VN489Ras4QxMPrRQQVkXHOzYl3yKuzAOAEYEKnKxD2uMR9t7cFHgCs_vO8BkOVx23n7OUhcKD84x2rhcDIQgypM8OqcnBvMGUB_SllFn1ojwQ8gUW9JqfbHIxc6JBbTIJbjGpmKgDwG_cJQg=w661-h884-s-no-gm?authuser=0");
    background-size: cover;
    background-position: center center;
}

.box14 {
    grid-row: 5 / 7;
    grid-column: 3 / 5;
    background-image: url("https://lh3.googleusercontent.com/pw/AIL4fc8aS-Mks_1UrmoRhoqNwv2kQlBAarx0A4ztNv6X6DDOHYue3g0OAp01HQ7iBHa_9WakFSpFF3ITe4CNxkBobOLggEyOrotpifwktlZ2OSM7OuOzmegww2HUvLAny7Sv5wOQr4VRoNALLg9m9aCBOnJbEQ=w1231-h923-s-no?authuser=0");
    background-size: cover;
    background-position: center center;
}

.box15 {
    grid-row: 5 / 6;
    grid-column: 5 / 7;
    background-image: url("https://lh3.googleusercontent.com/pw/AIL4fc9e9PNdzYxPi9YaFFFKmoriY9T1IjXswI_hPRSc-RmJj8qjicJrw3M4YaO9A2I2D2skIQ6Nf4JvT1XHsKIPu_eNrl4W7G4bzb-LPw1SYoFbnC7zeqUk--drXhHQNPKN9NCpRiXiD0_4oPr_cLsQj6UiDw=w690-h923-s-no?authuser=0");
    background-size: cover;
    background-position: center center;
}

.box16 {
    grid-row: 6 / 7;
    grid-column: 5 / 7;
    background-image: url("https://lh3.googleusercontent.com/pw/AIL4fc-XuopD8F7SixiQ1nhvO3jZ2evXMrYofQZGkhuG6Ct-an-254oKeET-QDq91f_gYkjE76Z67ZGZAenpoOnYuFKeNr-Fieb7QLnhnjVhOPyXgozBG4wZ6CUHVxvyeWXOcHJB4GjKgRwJvPngQsg1y7aEhw=w1235-h923-s-no?authuser=0");
    background-size: cover;
    background-position: center center;
}

.box17 {
    grid-row: 5 / 7;
    grid-column: 7 / 9;
    background-image: url("https://lh3.googleusercontent.com/pw/AIL4fc8AXbg3GcRNfpQOQdXp6RdmTUjTPGm7l-kkw9DRalzhpNATwkHP_vy5J2JaOCIVPDd-0F7cc59tp3lygKrzjdKEMpDzoNNKrG8lntIbSjDIr9zZkxA1FQ3FBa71idDHqQcO8WHy9Gs3cJGc2KmOtmxcFQ=w692-h923-s-no?authuser=0");
    background-size: cover;
    background-position: top center;
}

.box18 {
    grid-row: 5 / 7;
    grid-column: 9 / 10;
    background-image: url("https://lh3.googleusercontent.com/pw/AIL4fc_tR80e3HS9fJbmUpNyPYuW3cn-Fp69d7CN2WNOwUq47Irig4IPY2kSUdBaX1b4g_aj3bHfHu4uk-6iiiujBZsDK0g8ZRKL6JhHf4AleEdXlg1usBGXA1JbDk1_RqRURkHoUwpwpbCEt97i4F6XsIyzQA=w690-h923-s-no?authuser=0");
    background-size: cover;
    background-position: center center;
}

.box19 {
    grid-row: 5 / 7;
    grid-column: 10 / 11;
    background-image: url("https://lh3.googleusercontent.com/pw/AIL4fc-mHIxjjziOCOjhBZghRP2MCPrjTsMC_Vp6R_ixNR4sy4YhAJlqPrWRDRJOG-hp4O3jB2WX9CmCUeHpVtNEcA4Iv8ICLoEC_CAPVGT52watuQugn5-pnzhlrRt9TU50iO0g1dvVeq3zMCSQC-qy3SCSBg=w690-h923-s-no?authuser=0");
    background-size: cover;
    background-position: center center;
}

.resMedia {
    padding: 24px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.resBox {
    min-height: 200px;
    width: 20%;
    border: solid black 2px;
    margin: 12px;
    margin-bottom: 24px;
}

@media (max-width: 625px) {
    .resBox {
        width: 40%;
    }
}