.wrapper {
    padding-top: 16px;
}

.accordion {
    background: #ddd;
    color: #444;
    cursor: pointer;
    padding: 16px;
    width: 100%;
    border: none;
    border-radius: 12px;
    transition: 0.5s;
    margin-bottom: 8px;
    box-shadow: 5px 5px 15px 5px #000000;
    text-align: right;
    font-size: 16px;
}

.activeAccordion {
    transition: 0ms;
    margin-bottom: 0;
    box-shadow: none;
    background: #ccb490;
}

.accordion:hover {
    background: #ccb490;
}

.panel {
    display: none;
    padding: 0 16px;
    background: white;
    overflow: hidden;
    border-radius: 12px;
}

.activePanel {
    display: block;
}

.p {
    font-weight: bold;
}